@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Nunito", helvetica sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2d2d2d;
  transition: 0.5s ease;
}

body.show {
  transform: translateX(-350px);
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #ff9a1e;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row > * {
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 48rem) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 72rem) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 96rem) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}
.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.text--primary {
  color: #ff9a1e;
}

.bg--primary {
  background-color: #ff9a1e;
}

.text--secondary {
  color: #feb45a;
}

.bg--secondary {
  background-color: #feb45a;
}

.text--gray {
  color: #fff;
}

.bg--gray {
  background-color: #fff;
}

.text--light {
  color: #2d2d2d;
}

.bg--light {
  background-color: #2d2d2d;
}

.text--dark {
  color: #eaeaea;
}

.bg--dark {
  background-color: #eaeaea;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.btn {
  background-color: #ff9a1e;
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
  border: 1px solid;
  display: inline-block;
  transition: 0.5 ease-in-out;
}
.btn-primary {
  background-color: #ff9a1e;
  color: #fff;
  border-color: #ff9a1e;
}
.btn-primary:hover {
  background-color: #ea8100;
}
.btn-outline {
  background-color: transparent;
  color: #ff9a1e;
  border-color: #ff9a1e;
}
.btn-outline:hover {
  background-color: #ff9a1e;
  color: #fff;
}
.btn-dark {
  background-color: #2d2d2d;
  color: #fff;
  border-color: #2d2d2d;
}
.btn-dark:hover {
  background-color: #141414;
}

.header {
  background-color: #2C2C32;
  z-index: 999;
  position: relative;
  position: fixed;
  width: 100%;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .branding {
  display: flex;
  align-items: center;
}
.header button {
  margin-left: 10rem;
}
.header img {
  width: 2.5rem;
}
.header h3 {
  color: #fff;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
}
.header h3 span {
  color: #ff9a1e;
}
.header__nav {
  position: absolute;
  background: rgb(255, 255, 255);
  top: 5rem;
  right: 0;
  width: 100%;
  max-height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 0;
}
.header__nav ul {
  display: block;
  background-color: #2C2C32;
}
.header__nav ul li {
  padding: 1rem;
  margin-left: 0.5rem;
}
.header__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.header__nav.open {
  max-height: 34.5rem;
  transition: 0.5s ease;
  overflow: auto;
}
.header__nav .download {
  background-color: #0066B8;
}
.header__nav .download:hover {
  background-color: rgb(2, 59, 172);
}
.header__nav .download a {
  margin-left: 1rem;
}
.header__nav .download i {
  color: #fff;
}
.header__nav2 {
  position: absolute;
  background: rgb(255, 255, 255);
  top: 7rem;
  right: 0;
  max-height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 0;
}
.header__nav2 ul {
  display: block;
  background-color: #2C2C32;
}
.header__nav2 ul li {
  padding: 1rem;
  margin-left: 0.5rem;
}
.header__nav2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}
.header__nav2.open {
  max-height: 37rem;
  transition: 0.5s ease;
  overflow: auto;
}
.header__nav2 .download {
  background-color: #0066B8;
}
.header__nav2 .download a {
  margin-left: 1rem;
}
.header__nav2 .download i {
  color: #fff;
}
.header .toggle__menu {
  display: block;
  padding: 0.5rem;
}
.header .toggle__menu:hover {
  background-color: #2267F2;
}
.header .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: #fff;
  display: block;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
  transition: 0.5s ease;
}
@media screen and (min-width: 970px) {
  .header .toggle__menu {
    display: none;
  }
  .header .branding {
    margin-left: 12rem;
  }
  .header .container {
    padding: 0;
  }
  .header__nav2 {
    position: static;
    max-height: unset;
    margin-left: 5rem;
    display: flex;
    background: none;
  }
  .header__nav2 ul {
    display: none;
  }
  .header__nav2 ul.download {
    display: block;
  }
  .header__nav2 .input {
    display: flex;
    align-items: center;
    background-color: #3D3D42;
  }
  .header__nav2 .input:hover {
    background-color: #a3a3a7;
    opacity: 0.5;
  }
  .header__nav2 .input i {
    color: #fff;
    margin-right: 0.5rem;
  }
  .header__nav {
    position: unset;
    width: unset;
    height: unset;
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: flex;
  }
  .header__nav ul {
    display: flex;
  }
  .header__nav ul li a {
    font-size: 1.6rem;
    color: #A4A4A7;
  }
  .header__nav ul li:hover {
    background: none;
  }
  .header__nav ul li:hover a {
    color: #fff;
  }
  .header__nav ul li .download ul li {
    display: inline-flex;
  }
  .header__nav ul.download {
    display: none;
  }
  .header__nav li:last-child {
    display: none;
  }
}

.version {
  padding-top: 6rem;
  background-color: #25252B;
}
.version .container {
  padding: 0.5rem;
}
.version__text {
  text-align: center;
}
.version p {
  color: #C1CCCC;
  font-size: 1.5rem;
}
.version a {
  color: #2267F2;
}
.version a:hover {
  text-decoration: underline;
}

.banner__code {
  background-color: #2C2C32;
  text-align: center;
}
@media screen and (min-width: 970px) {
  .banner__code {
    grid-template-columns: 1fr 2fr;
    padding: 3rem 0;
  }
}
.banner__code__text {
  color: #FFFFFF;
  font-size: 5rem;
  text-align: center;
}
.banner__code__text h1 {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  padding: 1.5rem;
  line-height: 1;
}
.banner__code__text h1 span {
  font-weight: 100;
  color: #FFFFFF;
}
.banner__code .free {
  color: #C1CCCC;
  text-align: center;
}
.banner__code .download__button {
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
}
.banner__code .download__button button {
  background-color: #0066B8;
  color: #FFFFFF;
  padding: 1rem 1.8rem;
  font-size: 1.5rem;
}
.banner__code .download__button small {
  color: #FFFFFF;
  display: block;
  font-size: 1.2rem;
}
.banner__code .download__button button:hover {
  background-color: #034d8a;
}
.banner__code .web {
  font-size: 1.2rem;
  background-color: #25252B;
  padding: 0.5rem;
  margin: 0 auto;
  color: gray;
  max-width: 28rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.banner__code .web a {
  color: #2267F2;
}
.banner__code .web a:hover {
  text-decoration: underline;
}
.banner__code .web::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #25252b;
  top: 0;
  right: 1rem;
  z-index: -99;
  transform: rotate(45deg);
}
.banner__code .web p {
  margin-bottom: unset;
}
.banner__code .Vscode {
  padding: 1rem;
  font-size: 1.3rem;
  max-width: 22rem;
  margin: 0 auto;
}
.banner__code .Vscode p {
  color: gray;
}
.banner__code .Vscode a {
  color: #2267F2;
}
.banner__code .Vscode a:hover {
  text-decoration: underline;
}
.banner__code .photo {
  margin: 1rem;
}
@media screen and (min-width: 970px) {
  .banner__code__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .banner__code__items {
    margin-left: 10rem;
    padding: 4rem;
  }
  .banner__code__text h1 {
    font-size: 5rem;
    font-weight: 800;
  }
  .banner__code .free {
    font-size: 2rem;
  }
  .banner__code img {
    width: 50%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-fit: center center;
       object-fit: center center;
    display: block;
  }
}

.props {
  background: #FFFFFF;
}
.props .container {
  padding: 0 1.5rem;
}
.props__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 970px) {
  .props__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
.props__items__items:hover {
  background-color: red;
}
.props__items i {
  padding: 2rem;
  font-size: 5rem;
}
.props__items .bulb:hover {
  background-color: #c3c3c9;
}
.props__items .bulb i:hover {
  color: #2267F2;
}
.props__items .run i:hover {
  color: green;
}
.props__items .run:hover {
  background-color: #c3c3c9;
}
.props__items .built i:hover {
  color: red;
}
.props__items .built:hover {
  background-color: #c3c3c9;
}
.props__items .extensions i:hover {
  color: #ff9a1e;
}
.props__items .extensions:hover {
  background-color: #c3c3c9;
}

.slider {
  background-color: #F5F5F5;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.slider__items {
  margin-left: 0.5rem;
  display: flex;
  line-height: 1.2;
}
.slider img {
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: center center;
     object-fit: center center;
  display: block;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}
.slider strong {
  font-weight: bold;
  font-size: 1.5rem;
  line-break: 1;
  cursor: pointer;
}
.slider span {
  font-size: 1.2rem;
  opacity: 0.5;
  cursor: pointer;
}
.slider .fa-brands fa-twitter {
  margin-left: 15rem;
  color: gray;
  opacity: 0.5;
}
.slider p {
  max-width: 40rem;
}
.slider .name strong:hover {
  color: #2267F2;
}
.slider .tns-outer {
  position: relative;
}
.slider .tns-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.slider .tns-controls button {
  border: none;
  font-size: 2rem;
}/*# sourceMappingURL=main.css.map */